---
import selfie from "../assets/selfie.jpg";
import MailIcon from "../assets/icons/mail.svg";
import ProjectIcon from "../assets/icons/project.svg";
import Layout from "../components/Layout.astro";
import Button from "../components/Button.astro";
import ContactOverlay from "../components/ContactOverlay.astro";
import CircleText from "../components/CircleText.astro";
import ProjectsOverlay from "../projects/ProjectsOverlay";
import ProjectTile from "../projects/ProjectTile";

import UnifyTile from "../assets/tiles/unify.png";
import DefineryTile from "../assets/tiles/definery.png";
---

<Layout>
    <div class="page">
        <div class="row header">
            <div class="content">
                <h1 class="title">Hey, I'm Mesbah</h1>
                <div class="subtitle">
                    Software engineer specializing in creative and useful
                    experiences&mdash;Based in Vancouver&mdash;Working at
                    Spare&mdash;Available to freelance
                </div>

                <div class="desktop-only">
                    <ProjectTile
                        title="Unify"
                        image={UnifyTile.src}
                        left="55%"
                        projectOverlayIndex={0}
                        client:only
                    />
                </div>
            </div>

            <div class="side-col">
                <div class="selfie">
                    <img src={selfie.src} alt="Mesbah Mowlavi" />
                </div>
            </div>
        </div>

        <div class="row about">
            <div class="content">
                <div class="about-message">
                    I'm a Computer Engineer with 5+ years of experience in
                    software development, creative thinking, and product
                    leadership. I am passionate about creating responsive
                    systems and engaging interfaces that help make the world a
                    better place.
                </div>

                <div class="desktop-only">
                    <ProjectTile
                        title="Definery"
                        image={DefineryTile.src}
                        left="10%"
                        top="60%"
                        width={250}
                        projectOverlayIndex={1}
                        client:only
                    />
                </div>
            </div>
            <div class="side-col button-group">
                <Button
                    id="projects-button"
                    icon={ProjectIcon.src}
                    label="Projects"
                />
                <Button
                    id="contact-button"
                    icon={MailIcon.src}
                    label="Contact"
                />
            </div>
        </div>
        <div class="copyright">
            &copy; Mesbah Mowlavi<br />
            Last updated Sept 2024
        </div>
    </div>

    <CircleText />

    <ContactOverlay />
    <ProjectsOverlay client:only />
</Layout>

<style>
    body {
        background-color: var(--light);
    }

    .page {
        padding: 32px;
    }

    h1 {
        font-size: 78px;
        color: var(--primary);
        margin-bottom: 32px;
    }

    .selfie {
        margin-left: -32px;
        margin-right: -32px;
        margin-top: -84px;
        position: relative;
        z-index: -1;
        margin-bottom: 24px;
    }
    .selfie img {
        width: 100%;
    }

    .subtitle {
        font-size: 24px;
        line-height: 2;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .about-message,
    .copyright {
        line-height: 2;
    }

    .copyright {
        opacity: 0.6;
    }

    @media (min-width: 600px) {
        .page {
            width: 100vw;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 64px;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        .row.header {
            flex: 3;
            margin-bottom: 24px;
        }
        .row.about {
            flex: 1;
        }
        .content {
            flex: 2;
        }

        .side-col {
            flex: 1;
            width: 450px;
            max-width: 600px;
        }

        .selfie {
            margin: 0;
            width: 100%;
            height: 100%;
        }
        .selfie img {
            border-width: 1px;
            border-style: solid;
            border-color: var(--dark);
            border-radius: 32px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .button-group {
            padding: 0;
        }

        .subtitle {
            margin-right: 64px;
            max-width: 800px;
        }

        .about .content {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .about-message {
            text-align: right;
            margin-right: 60px;
            align-items: center;
            max-width: 500px;
        }

        h1 {
            font-size: 100px;
        }
        .subtitle {
            font-size: 32px;
        }
    }

    @media (min-width: 1115px) {
        h1 {
            font-size: 138px;
            position: absolute;
        }
        .subtitle {
            margin-top: 160px;
            font-size: 32px;
        }
    }
</style>

<script>
    const contactButton = document.getElementById("contact-button");
    const contactOverlay = document.getElementById("contact-overlay");

    contactButton.addEventListener("click", () => {
        if (contactOverlay.hasAttribute("data-active")) {
            contactOverlay.removeAttribute("data-active");
        } else {
            contactOverlay.setAttribute("data-active", "active");
        }
    });
</script>
